button {
  margin-bottom: 10px;
}

.mainContainer {
    background-color: rgb(22, 57, 102);
    padding: 1em;
}

.titleContainer {
  background-color: rgb(105,105,105,0.6);
  padding: 1em;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  margin: 2em;
  background-color: 4px solid yellow;
}

.developerParagraph{
  text-align: justify;
  margin: 0 2em 1em 2em;
}


.button
{
    margin-top: 1em;
    width: 60%;
    background-color: rgb(140,140,140, 0.5);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.5s ease; 
}

.button:hover{
  background-color:rgb(5, 44, 67, 0.4);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
}
