.invalidInput {
  background-color: #1c4762;
  border-radius: 12px;
  resize: none;
  transition: background-color 0.5s ease;
}

.validInput {
  background-color: none;
  transition: height 4s ease;
  border-radius: 12px;
  resize: none;
  transition: background-color 0.5s ease;
}

.normalText {
  color: lightblue;
  font-size: 14px;
  transition: color 1s ease-out, font-size 1s ease-out; /* Add margin to the transition */
  margin: 1rem 0 0 0;
  padding: 0;
}

.growingText {
  color: rgb(5, 44, 67);
  font-size: 18px;
  flex-direction: column;
  transition: color 1s ease-out, font-size 1s ease-out; /* Add margin to the transition */
  margin: 2em 0 0 0;
  padding: 0;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: auto;
  background-color: rgb(22, 57, 102);
  padding: 1em;

}

.formContainer {
  display: flex;
  justify-content: center;
}

.form {
  border-radius: 12px;
  background-color: rgb(105, 105, 105, 0.6);
  height: auto;
  width: 40%;
  padding: 1em 1em 0 1em;
}

@media (max-width: 750px) {
  .mainContainer {
    margin: 0;
    padding: 0;
  }

  .form {
    margin: 0;
    width: 80%;
  }

  .button {
    width: 90%;
  }
}

.formChildContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(140, 140, 140, 0.5);
  margin: 0 0.2em 0.5em 0.2em;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.formChildContainer > input {
  height: 2.5em;
  border-radius: 12px;
  align-items: stretch;
  box-shadow: none;
}

.button {
  padding: 1em;
  margin: 1em;
  background-color: rgb(140, 140, 140, 0.8);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  width: 70%;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.button:hover {
  background-color: rgb(5, 44, 67);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
}

.titleContainer {
  background-color: rgb(105, 105, 105, 0.6);
  padding: 1em;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  margin: 2em;
}

.contactParagraph {
  text-align:center;
  margin: 0 2em 1em 2em;
}

.input {
  border-radius: 0 0 12px 12px;
  border: 3px solid rgb(140, 140, 140, 0.7);
  transition: background-color 0.5s ease;
}

.textArea {
  transition: height 0.3s ease;
  border-radius: 12px;
  resize: none;
  transition: background-color 0.5s ease;
}

.submissionWinow {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: rgb(51, 81, 97, 0.95);
  padding: 3em;
  border-radius: 12px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

input:hover,
textArea:hover {
  background-color: rgb(40, 40, 40);
}
